#gameArea {
  width: 1350px;
  height:500px;
  border: 2px solid black;
  position: relative;
  background-image: url("https://i.postimg.cc/XYZ/background.png");
    
  
  
}

#player {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  left: 350px;
  top: 100;
}
#dawd {
  position: absolute;  /* allows free positioning */
  left: 100px;         /* distance from left of the game area */
  top: 440px;          /* distance from top of the game area */
  width: 100px;
  height: 100px;
}