#gameArea {
  width: 1350px;
  height:500px;
  border: 2px solid black;
  position: relative;
  background-image: url("https://i.postimg.cc/XYZ/background.png");
    
  
  
}

#player {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 350px;
  top: 200px;
}
#dawd {
  position: absolute;  /* allows free positioning */
  left: 100px;         /* distance from left of the game area */
  top: 440px;          /* distance from top of the game area */
  width: 100px;
  height: 100px;
}

#menu {
  position: fixed;          /* keeps it covering the screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #444, #111); /* gradient background */
  display: flex;            /* centers content easily */
  flex-direction: column;   /* stacks items vertically */
  align-items: center;      /* centers horizontally */
  justify-content: center;  /* centers vertically */
  gap: 20px;                /* space between items */
  z-index: 10;              /* makes sure it's on top */
}